html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
}

.grid {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.hover {
  background-color: coral;
}

.btn {
  margin-bottom: 20px;
}